:root {
    /* Colors */
    --p: #006d44;
    --on-p: #ffffff;
    --p-c: #92f7be;
    --on-p-c: #002111;
    --s: #4e6355;
    --on-s: #ffffff;
    --s-c: #d1e8d6;
    --on-s-c: #0c1f14;
    --surf: #fbfdf9;
    --on-surf: #191c1a;
    --surf-c: #f3f5f1;
    --out: #c4c9bc;
    --surf-v: #dce5dd;
    --on-surf-v: #404943;

    /* Shapes */
    --r-xl: 39px;
    --r-l: 33px;
    --r-m: 24px;
}

[data-theme="dark"] {
    --p: #76daa3;
    --on-p: #003921;
    --p-c: #005232;
    --on-p-c: #92f7be;
    --s: #b5ccba;
    --on-s: #213528;
    --s-c: #374b3e;
    --on-s-c: #d1e8d6;
    --surf: #111412;
    --on-surf: #e1e3df;
    --surf-c: #1d211e;
    --out: #444943;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: "Google Sans", sans-serif;
    background: radial-gradient(circle, var(--p-c), var(--surf));
    color: var(--on-surf);
    height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

/* Typography */
.display-small {
    font-size: 33px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.2;
}
.headline-small {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.title-large {
    font-size: 21px;
    font-weight: 700;
}
.title-medium {
    font-size: 15px;
    font-weight: 700;
}
.title-small {
    font-size: 12px;
    font-weight: 700;
}
.body-large {
    font-size: 15px;
    font-weight: 700;
}
.body-medium {
    font-size: 12px;
    font-weight: 700;
}
.label-large {
    font-size: 12px;
    font-weight: 700;
}
.label-medium {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.label-small {
    font-size: 12px;
    font-weight: 700;
}

/* Header */
.app-bar {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.header-row {
    display: flex;
    align-items: center;
    gap: 9px;
    width: 100%;
    background: var(--surf);
    padding: 9px;
    border-radius: 99px;
}

.icon-button {
    background-color: var(--surf-c);
    color: var(--on-surf);
    width: 48px;
    height: 48px;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid var(--out);
    transition: all 0.3s ease;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

}

.icon-button:active {
    transform: scale(1.1);

}

.badge-container {
    flex: 1;
    height: 48px;
    padding: 9px;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0px solid var(--out);
    min-width: 0;
    transition: all 0.3s ease;
}
.location-badge {
    background: var(--surf-c);
    border: 1px solid var(--out);
}
.location-badge span#current-city {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    flex: 1;
    padding: 6px;
    color: var(--on-p-c);
}
.location-badge .material-icons-round {
    /* background: var(--on-p-c); */
    color: var(--on-p-c);
}

.badge-container .material-icons-round {
    font-size: 15px;
    padding: 9px;
    border-radius: 51%;
}
.countdown-badge .material-icons-round {
    background: var(--on-p-c);
    color: var(--p-c);
}
.countdown-badge {
    background-color: var(--p-c);
    color: var(--on-p-c);
    border: none;
}

.countdown-text {
    display: flex;
    flex: 1;
    padding: 6px;
    flex-direction: column;
}

/* Content */
.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 12px;
}

.surface-card {
    padding: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.date-header {
    margin-bottom: 33px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#timeNow {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

#hari {
    color: var(--p);
}
#date, #hijri {
    background-color: var(--p-c);
    color: var(--on-p-c);
    padding: 6px 12px;
    border-radius: 9px;
    display: inline-block;
    align-self: center;
    font-size: 12px;
    font-weight: 700;
}

.schedule-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    flex: 1;
}

.list-item {
    flex: 1;
    display: flex;
    padding: 12px 21px;
    background-color: var(--surf-c);
    width: 100%;
    max-height: 100px;
    border-radius: 9px;
}

.list-item:first-of-type {
    border-radius: 30px 30px 9px 9px;
}
.list-item:last-of-type {
    border-radius: 9px 9px 30px 30px;
}

.list-item.active {
    background-color: transparent;
    color: var(--p);
    border-radius: 99px;
    /* border: 1px solid var(--p); */
    opacity: 1 !important;
}
.item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Toast */
#toast {
    position: fixed;
    bottom: 33px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--on-surf);
    color: var(--surf);
    padding: 12px 24px;
    border-radius: 21px;
    z-index: 2000;
    font-weight: 700;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    display: flex;
    /* Always flex, controlled by x-show */
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 24px;
}

[x-cloak] {
    display: none !important;
}

.surface-container {
    background-color: var(--surf);
    border-radius: 30px;

    padding: 12px;
    width: 100%;
    max-width: 399px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal-header h2 {
    text-align: center;
    width: 100%;
}

.settings-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 12px;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px;
    background-color: var(--surf-c);
    cursor: pointer;
    /* border: 1px solid var(--out); */
}

.setting-item:first-child {
    border-radius: 30px 30px 12px 12px;
}
.setting-item:last-child {
    border-radius: 12px 12px 30px 30px;
}

.setting-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.modal-selector {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Buttons */
.button-filled {
    background-color: var(--p);
    color: var(--on-p);
    border: none;
    padding: 15px;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
}

.button-tonal {
    background-color: var(--s-c);
    color: var(--on-s-c);
    border: none;
    padding: 15px;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.filled-select {
    width: 100%;
    padding: 18px;
    border-radius: 24px;
    background-color: var(--surf-c);
    color: var(--on-surf);
    border: 1px solid var(--out);
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    text-align-last: center;
}

.hidden {
    display: none !important;
}

/* Spinner */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--surf);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    width: 54px;
    height: 54px;
    border: 6px solid var(--p-c);
    border-top: 6px solid var(--p);
    border-radius: 51%;
    animation: spin 0.9s linear infinite;
}